name: Build

on:
  pull_request:
  push:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        build_type: [Release, Debug]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - if: ${{ 'macos-latest' == matrix.os }}
        run: |
          brew update
          brew install llvm

      - run: cmake -B ./build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

      - run: cmake --build ./build --config ${{ matrix.build_type }}

      - run: cmake --install ./build --prefix ./install
